* { box-sizing: border-box;}

html,
body {
    width: 100%;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-gap: 10px;
}

.option{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.option p{
    margin: 0;
}

.option .pagination{
    margin: 0;
}

.option .form-select{
    width: auto;
    vertical-align: middle;
    display: inline-block;
}

.content{
    display: flex;
}

.content .filter{
    width: 30vw;
}

.content div{
    margin:0 30px 0 10px;
}

.content .option-filter-title{
    margin-top: 30px;
}

.filter button{
    margin-top: 30px;
}