* { 
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
}

/*CSS para los botones de filtro y para exportar en excel*/
.ds-button{
    background-color: #434d54 !important;
    color: #fff !important;
    padding: 0.5em 1em !important;
    text-align: center !important;
    border-radius: 5px !important;
    border: 10px !important;
}

/*CSS para los botones de paginación*/
.page-item.active .page-link {
    background-color: #00b3a1 !important;
    border-color: #000000 !important;
}

.page-link{
    color: #000;
}

/*wrapper divide en secciones el cuerpo de la página para posicionar los difrentes elementos*/
.wrapper {
    display: grid;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto)     minmax(1fr, auto) minmax(1fr, auto);
}

/*CSS para la cabeza de la página*/
.header{
    color: #000;
    z-index: 99;
    background-color: #fff;  
}

/*CSS para el nav utilizado en la cabeza de la página*/
.header nav{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding: .5rem 1rem;
}

/*CSS para la sección de filtros posionada dentro de la clase content*/
.filter{
    background-color: rgb(160, 192, 162);
    width: 100vw;
    padding-top: 5em;
    padding-left: 1em;
}

/*CSS para los titulos de las opciones definidas en los filtros*/
.filter .option-filter-title{
    margin-top: 1em;
}

/*CSS para el botón ubicado dentro de clase filter*/
.filter button{
    position: relative;
    width: 5%;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.filter select{
    width: 120px !important;
}

.filter .form-control{
    width: 200px !important;
}

.filter .form-check{
    padding-top: 3em;
}

/*CSS para el contenido de la página que almacena la tabla de datos y las opciones filtrado*/
.content{
    display: flex;
    position: relative;
    margin-top: 1em;
}

/*CSS para las etiquetas div dentro de la clase content*/
.content div{
    margin:0 30px 0 10px;
}


/*CSS para el footer de la página*/
.footer{
    background-color: rgba(0, 0, 0, 0.9);
}

