* { 
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
}

.ds-button{
    background-color: #434d54 !important;
    color: #fff !important;
    padding: 0.5em 1em !important;
    text-align: center !important;
    border-radius: 5px !important;
    border: 10px !important;
}

.page-item.active .page-link {
    background-color: #00b3a1 !important;
    border-color: #000000 !important;
}

.page-link{
    color: #000;
}

.wrapper {
    display: grid;
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) minmax(1fr, auto);
}

.header{
    color: #000;
    z-index: 99;
    background-color: #fff;  
}

.header nav{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding: .5rem 1rem;
}

.content{
    display: flex;
    position: relative;
    padding-top: 5em;
}

.content .filter{
    width: 30vw;
}

.content div{
    margin:0 30px 0 10px;
}

.content .option-filter-title{
    margin-top: 30px;
}

.filter button{
    margin-top: 30px;
}

.footer{
    background-color: rgba(0, 0, 0, 0.9);
}

